<%- include('../partials/blogHeader'); -%>
<div class="card">
  <h1 class="edit-header">Edit "<%= blog.title %>"</h1>
  <hr />
  <div class="card-body">
    <form action="/blog/<%= blog._id %>?_method=PUT" method="POST" role="form">
      <fieldset>
        <div class="blog-form">
          <i class="fas fa-heading"></i>
          <input
            class="form-control"
            type="text"
            name="blog[title]"
            id="title"
            value="<%= blog.title %>"
            required
          />
        </div>
        <div class="blog-form">
          <i class="fas fa-image"></i>
          <input
            type="text"
            name="blog[image]"
            id="image"
            class="form-control"
            value="<%= blog.image %>"
            required
          />
        </div>
        <div class="blog-form">
          <i class="fas fa-tag"></i>
          <input
            class="form-control"
            type="text"
            name="blog[tags]"
            id="tags"
            value="<%= blog.tags %>"
            required
          />
        </div>
        <div class="blog-form">
          <i class="fas fa-pencil-alt"></i>
          <textarea
            class="form-control"
            name="blog[entry]"
            id="entry"
            rows="7"
            required
          >
<%- blog.entry%></textarea
          >
        </div>
        <button class="submitBtn" type="submit">Submit</button>
      </fieldset>
    </form>
  </div>
</div>

<%- include('../partials/blogFooter'); -%>
