<%- include('../partials/blogHeader'); -%>
  <div>
    <% blogs.reverse().forEach((blog) => { %>
    <article class="blog-card">
      <header>
        <h1>
          <a class="blog-title" href="/blog/<%= blog._id %>"
            ><%= blog.title %></a
          >
        </h1>
        <div class="post-meta">
          <div class="post-author">
            <i class="fas fa-at"></i><a href="/blog/user/<%= blog.author.id %>"><%= blog.author.name %></a>
          </div>
          <div class="post-date">
            <i class="far fa-calendar"></i> <%=
            dayjs(blog.createdAt).format("MMM D, YYYY"); %>
          </div>
          <div class="post-comments">
            <i class="far fa-comment-alt"></i> 2 Comments
          </div>
        </div>
      </header>
      <img
        src="<%= blog.image %>"
        alt=""
      />
      <p class="blog-summary"><%- blog.entry.substring(0, 95); %>...</p>
      <div class="read-more">
        <a href="/blog/<%= blog._id %>">Read More ></a>
      </div>
    </article>
    <% }); %>
  </div>

<%- include('../partials/blogFooter'); -%>
