<%- include('../partials/blogHeader'); -%>
  <article>
      <header>
          <div class="back-container">
          <div class="go-back">
            <i class="fas fa-long-arrow-alt-left"></i> 
            <a href="/blog">Go Back</a>
          </div>
          <% if(currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <div class="edit">
          <a href="/blog/<%= blog._id %>/edit">Edit</a>
          <i class="fas fa-long-arrow-alt-right"></i>
        </div>
        <% } %>
        </div>
          <h1 class="show-title">
              <%= blog.title %>
          </h1>
          <div class="post-meta">
            <div class="post-author"><i class="fas fa-at"></i><a href="/blog/user/<%= blog.author.id %>"><%= blog.author.name %></a></div>
            <div class="post-date">
              <i class="far fa-calendar"></i> <%=
              dayjs(blog.createdAt).format("MMM D, YYYY"); %>
            </div>
            <div class="post-comments">
              <i class="far fa-comment-alt"></i> 2 Comments
            </div>
          </div>
      </header>
      <img src="<%= blog.image %>" alt="">
      <p class="blog-summary">
          <%- blog.entry %>
      </p>
    </article>

<%- include('../partials/blogFooter'); -%>
